body {
  background-color: #f5f5f5;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

.App {
  text-align: center;
  padding: 20px;
}

nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

nav ul li {
  margin: 10px;
}

nav ul li a {
  text-decoration: none;
  padding: 10px 20px;
  border: 2px solid #16a085;
  border-radius: 10px;
  color: #16a085;
  transition: background-color 0.3s, color 0.3s;
}

nav ul li a.active {
  background-color: #16a085;
  color: #fff;
}

nav ul li a:hover {
  background-color: #1abc9c;
  color: #fff;
}

textarea {
  width: 80%;
  height: 100px;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 10px;
  border: 2px solid #16a085;
  font-size: 16px;
  background-color: #fff;
  transition: background-color 0.3s, border-color 0.3s;
}

textarea:focus {
  background-color: #e8f8f5;
  border-color: #1abc9c;
}

select, button {
  margin-top: 10px;
  padding: 10px;
  border-radius: 10px;
  border: 2px solid #16a085;
  font-size: 16px;
  background-color: #fff;
  cursor: pointer;
  transition: background-color 0.3s, border-color 0.3s;
}

select:focus, button:focus {
  outline: none;
  background-color: #e8f8f5;
  border-color: #1abc9c;
}

h1, h2 {
  color: #2c3e50;
}

p {
  text-align: left;
  line-height: 1.6;
  margin: 0 10%;
}

.anecdotes {
  margin-top: 30px;
}

.image-container {
  display: flex;
  justify-content: center;
  margin: 20px 0;
  gap: 20px;
}

.image-container img, .geo-image {
  width: auto;
  height: 300px;
  border-radius: 10px;
  border: 2px solid #16a085;
}

.polysémie ul {
  list-style-type: none;
  padding-left: 0;
}

.polysémie li {
  margin-bottom: 10px;
  padding-left: 20px;
  position: relative;
}

.polysémie li:before {
  content: "•";
  color: #000;
  position: absolute;
  left: 0;
}

/* Custom scrollbar styles */
::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #16a085;
  border-radius: 10px;
  border: 3px solid #f1f1f1;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #1abc9c;
}

/* Responsive Menu */
@media (max-width: 768px) {
  nav ul {
    flex-direction: column;
  }

  nav ul li {
    margin: 5px 0;
  }
}
